WSDLs/SNPService_0_3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl" ?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://esysbio.org/SNPService.wsdl" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SNPService" targetNamespace="http://esysbio.org/SNPService.wsdl">
	<types>
		<xsd:schema xmlns:tns="http://esysbio.org/SNPService.wsdl" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://esysbio.org/SNPService.wsdl">
			<xsd:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="http://www.w3.org/2005/05/xmlmime"/>
			<xsd:simpleType name="CorrelationID" sawsdl:modelReference="http://wsio.org/data_009">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:complexType name="SNPServiceInputData">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="DatabaseURI" type="xsd:anyURI" sawsdl:modelReference="http://edamontology.org/data_2043 http://edamontology.org/format_2200 http://wsio.org/transfer_013"/><!--"Sequence record lite"(2043)--><!--"Download from URL"(013)-->
						<xsd:element name="DatabaseInline" type="xsd:string" sawsdl:modelReference="http://edamontology.org/data_2043 http://edamontology.org/format_2200 http://wsio.org/transfer_011 http://wsio.org/compression_021"/><!--"Sequence record lite"(2043)--><!--"In SOAP body"(011)--><!--"base64"(021)-->
					</xsd:choice>
					<xsd:choice>
						<xsd:element name="QueryURI" type="xsd:anyURI" sawsdl:modelReference="http://edamontology.org/data_1386 http://edamontology.org/format_2572 http://wsio.org/transfer_013"/><!--"Sequence alignment (nucleic acid pair)"(1386)--><!--"BAM"(2572)--><!--"Download from URL"(013)-->
						<xsd:element name="QueryInline" type="xsd:string" sawsdl:modelReference="http://edamontology.org/data_1386 http://edamontology.org/format_2572 http://wsio.org/transfer_011 http://wsio.org/compression_021"/><!--"Sequence alignment (nucleic acid pair)"(1386)--><!--"BAM"(2572)--><!--"In SOAP body"(011)--><!--"base64"(021)-->
					</xsd:choice>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SetData" type="tns:SetDataComplexType"/>
			<xsd:element name="SetParameters" type="tns:SetParametersComplexType"/>
			<xsd:element name="Start" type="tns:StartComplexType"/>
			<xsd:complexType name="InitComplexType">
				<xsd:sequence>
					<xsd:element name="DataFetchMethod" default="url" sawsdl:modelReference="http://edamontology.org/data_2527 http://wsio.org/transfer_003"><!--"Parameter"(2527)--><!--"Transfer"(003)-->
						<xsd:annotation>
							<xsd:documentation>If the fetch method is "message", data are	expected to be sent as string in the message. If "url", the data will be fetched from that url via either ftp or http.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="message" sawsdl:modelReference="http://wsio.org/transfer_011"/><!--"In SOAP body"(011)-->
								<xsd:enumeration value="url" sawsdl:modelReference="http://wsio.org/transfer_013"/><!--"Download from URL"(013)-->
								<!-- reserved for later use with the data storage service -->
								<!-- xsd:enumeration value="referenceId" / -->
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DataReturnMethod" default="url" sawsdl:modelReference="http://edamontology.org/data_2527 http://wsio.org/transfer_003"><!--"Parameter"(2527)--><!--"Transfer"(003)-->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="message" sawsdl:modelReference="http://wsio.org/transfer_011"/><!--"In SOAP body"(011)-->
								<xsd:enumeration value="url" sawsdl:modelReference="http://wsio.org/transfer_013"/><!--"Download from URL"(013)-->
								<!-- later: -->
								<!-- xsd:enumeration value="referenceId" / -->
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InitResponseComplexType">
				<xsd:sequence>
					<xsd:element name="CorrelationID" type="tns:CorrelationID"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Init" type="tns:InitComplexType"/>
			<xsd:element name="InitResponse" type="tns:InitResponseComplexType"/>
			<xsd:element name="GetData" type="tns:GetDataComplexType"/>
			<xsd:element name="GetDataResponse" type="tns:GetDataResponseComplexType"/>
			<xsd:element name="GetStatus" type="tns:GetStatusComplexType"/>
			<xsd:element name="GetStatusResponse" type="tns:GetStatusResponseComplexType"/>
			<xsd:element default="" name="Version" type="xsd:string"/><!--Shouldn't be empty complexType instead?-->
			<xsd:element name="VersionResponse" type="tns:VersionResponseComplexType"/>
			<xsd:element name="Init_fault" type="tns:Init_faultComplexType"/>
			<xsd:element name="GetStatus_fault" type="tns:GetStatus_faultComplexType"/>
			<xsd:element name="GetData_fault" type="tns:GetData_faultComplexType"/>
			<xsd:element name="SetData_fault" type="tns:SetData_faultComplexType"/>
			<xsd:element name="SetParameters_fault" type="tns:SetParameters_faultComplexType"/>
			<xsd:element name="Start_fault" type="tns:Start_faultComplexType"/>
			<xsd:element name="SetParametersResponse">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="SetDataResponse">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="StartResponse">
				<xsd:complexType/>
			</xsd:element>
			<xsd:complexType name="SetDataComplexType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="CorrelationID" type="tns:CorrelationID">
					</xsd:element>
					<xsd:element name="SNPInputData" type="tns:SNPServiceInputData">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StartComplexType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="CorrelationID" type="tns:CorrelationID">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GetStatusComplexType">
				<xsd:sequence>
					<xsd:element name="CorrelationID" type="tns:CorrelationID">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GetStatusResponseComplexType">
				<xsd:sequence>
					<xsd:element name="Status" sawsdl:modelReference="http://wsio.org/data_010">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="INIT" sawsdl:modelReference="http://wsio.org/data_027"/>
								<xsd:enumeration value="SUBMITTED" sawsdl:modelReference="http://wsio.org/data_027"/>
								<xsd:enumeration value="INPROGRESS" sawsdl:modelReference="http://wsio.org/data_027"/>
								<xsd:enumeration value="ERROR" sawsdl:modelReference="http://wsio.org/data_029"/>
								<xsd:enumeration value="INTERRUPTED" sawsdl:modelReference="http://wsio.org/data_029"/>
								<xsd:enumeration value="COMPLETE" sawsdl:modelReference="http://wsio.org/data_028"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="PercentProgress" sawsdl:modelReference="http://wsio.org/data_030">
						<xsd:simpleType>
							<xsd:restriction base="xsd:float">
								<xsd:maxInclusive value="100"/>
								<xsd:minInclusive value="0"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GetStatus_faultComplexType">
				<xsd:sequence>
					<xsd:element name="GetStatus_fault" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Start_faultComplexType">
				<xsd:sequence>
					<xsd:element name="Start_fault" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SetParameters_faultComplexType">
				<xsd:sequence>
					<xsd:element name="SetParameters_fault" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Init_faultComplexType">
				<xsd:sequence>
					<xsd:element name="Init_fault" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SetData_faultComplexType">
				<xsd:sequence>
					<xsd:element name="SetData_fault" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GetDataComplexType">
				<xsd:sequence>
					<xsd:element name="CorrelationID" type="tns:CorrelationID">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GetDataResponseComplexType">
				<!-- <xsd:sequence> <xsd:element name="SNPOutputData" type="tns:SNPServiceOutputData"> 
					</xsd:element> </xsd:sequence> -->
				<xsd:sequence>
					<xsd:choice minOccurs="0">
						<xsd:element name="OutputFileURI" type="xsd:anyURI" sawsdl:modelReference="http://edamontology.org/data_0918 http://edamontology.org/format_3016 http://wsio.org/transfer_013"/><!--"Nucleic acid features (variation)"(0918)--><!--"VCF"(3016)--><!--"Download from URL"(013)-->
						<xsd:element name="OutputInline" type="xsd:string" sawsdl:modelReference="http://edamontology.org/data_0918 http://edamontology.org/format_3016 http://wsio.org/transfer_011 http://wsio.org/compression_021"/><!--"Nucleic acid features (variation)"(0918)--><!--"VCF"(3016)--><!--"In SOAP body"(011)--><!--"base64"(021)-->
					</xsd:choice>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GetData_faultComplexType">
				<xsd:sequence>
					<xsd:element name="GetData_fault" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="VersionResponseComplexType">
				<xsd:sequence>
					<xsd:element name="VersionString" type="xsd:string" sawsdl:modelReference="http://edamontology.org/data_1671"/><!--"Tool version information"(1671)-->
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SetParametersComplexType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="CorrelationID" type="tns:CorrelationID"/>
					<xsd:element default="samtools" name="Algorithm" sawsdl:modelReference="http://edamontology.org/data_2527 http://edamontology.org/data_1190"><!--"Parameter"(2527)--><!--"Tool name"(1190)-->
						<xsd:annotation>
							<xsd:documentation>Select the SNP caller to use.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="samtools"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element default="13" minOccurs="0" name="MinQual" type="xsd:double" sawsdl:modelReference="http://edamontology.org/data_2146"/><!--"Threshold"(2146)-->
					<xsd:element default="vcf" name="outputFormat" sawsdl:modelReference="http://edamontology.org/data_2527 http://edamontology.org/format_1915"><!--"Parameter"(2527)--><!--"Format"(1915)-->
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="vcf" sawsdl:modelReference="http://edamontology.org/format_3016"/><!--"VCF"(3016)-->
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	
	
	
	<message name="SetParameters_faultMsg">
		<part name="parameters" element="tns:SetParameters_fault">
		</part>
	</message>
	<message name="SetDataResponse">
		<part name="parameters" element="tns:SetDataResponse">
		</part>
	</message>
	<message name="Init_faultMsg">
		<part name="parameters" element="tns:Init_fault">
		</part>
	</message>
	<message name="SetParametersRequestMsg">
		<part name="parameters" element="tns:SetParameters">
		</part>
	</message>
	<message name="GetStatusRequestMsg">
		<part name="parameters" element="tns:GetStatus">
		</part>
	</message>
	<message name="StartResponse">
		<part name="parameters" element="tns:StartResponse">
		</part>
	</message>
	<message name="GetDataRequestMsg">
		<part name="parameters" element="tns:GetData">
		</part>
	</message>
	<message name="InitRequestMsg">
		<part name="parameters" element="tns:Init">
		</part>
	</message>
	<message name="Start_faultMsg">
		<part name="parameters" element="tns:Start_fault">
		</part>
	</message>
	<message name="InitResponseMsg">
		<part name="parameters" element="tns:InitResponse">
		</part>
	</message>
	<message name="GetDataResponseMsg">
		<part name="parameters" element="tns:GetDataResponse">
		</part>
	</message>
	<message name="StartRequestMsg">
		<part name="parameters" element="tns:Start">
		</part>
	</message>
	<message name="GetData_faultMsg">
		<part name="parameters" element="tns:GetData_fault">
		</part>
	</message>
	<message name="SetDataRequestMsg">
		<part name="parameters" element="tns:SetData">
		</part>
	</message>
	<message name="SetData_faultMsg">
		<part name="parameters" element="tns:SetData_fault">
		</part>
	</message>
	<message name="GetStatusResponseMsg">
		<part name="parameters" element="tns:GetStatusResponse">
		</part>
	</message>
	<message name="SetParametersResponse">
		<part name="parameters" element="tns:SetParametersResponse">
		</part>
	</message>
	<message name="GetStatus_faultMsg">
		<part name="parameters" element="tns:GetStatus_fault">
		</part>
	</message>
	<message name="VersionRequest">
		<part name="parameters" element="tns:Version">
		</part>
	</message>
	<message name="VersionResponseMsg">
		<part name="parameters" element="tns:VersionResponse">
		</part>
	</message>
	
	
	
	<portType name="SNPServicePortType" sawsdl:modelReference="http://edamontology.org/topic_0199 http://edamontology.org/operation_0484 http://edamontology.org/operation_0452"><!--"Genetic variation"(0199)--><!--"SNP detection"(0484)--><!--"Sequence alignment analysis (indel detection)"(0452)-->
		<documentation>This service calls SNPs and short indels from a read alignment in BAM format and a reference sequence collection in FASTA format. The service is implemented as asynchronous.</documentation>
		<operation name="SetData">
			<documentation>Set the data. The data can be represented sending the	data inline, as	mime attachment, or by giving a url to download from.</documentation>
			<sawsdl:attrExtension sawsdl:modelReference="http://wsio.org/operation_024"/>
			<input message="tns:SetDataRequestMsg"/>
			<output message="tns:SetDataResponse"/>
			<fault name="fault" message="tns:SetData_faultMsg"/>
		</operation>
		<operation name="Init">
			<documentation>Open a new communication session with the web-service. Returns a unique token as a session identifier. This is always the first step in a work-flow involving this service. Except "Version", no other operation can be invoked without a valid session token.</documentation>
			<sawsdl:attrExtension sawsdl:modelReference="http://wsio.org/operation_023"/>
			<input message="tns:InitRequestMsg"/>
			<output message="tns:InitResponseMsg"/>
			<fault name="fault" message="tns:Init_faultMsg"/>
		</operation>
		<operation name="SetParameters">
			<documentation>Set the parameters for the computation. This operation must be called before Start. This operation can be invoked multiple times during a session to re-compute with changed parameters.</documentation>
			<sawsdl:attrExtension sawsdl:modelReference="http://wsio.org/operation_025"/>
			<input message="tns:SetParametersRequestMsg"/>
			<output message="tns:SetParametersResponse"/>
			<fault name="fault" message="tns:SetParameters_faultMsg"/>
		</operation>
		<operation name="Start">
			<documentation>Start the actual computation with a valid session token.</documentation>
			<sawsdl:attrExtension sawsdl:modelReference="http://wsio.org/operation_006"/>
			<input message="tns:StartRequestMsg"/>
			<output message="tns:StartResponse"/>
			<fault name="fault" message="tns:Start_faultMsg"/>
		</operation>
		<operation name="GetStatus">
			<documentation>Returns the status of the current computation: one of INIT, SUBMITTED, INPROGRESS, COMPLETE, or ERROR</documentation>
			<sawsdl:attrExtension sawsdl:modelReference="http://wsio.org/operation_007"/>
			<input message="tns:GetStatusRequestMsg"/>
			<output message="tns:GetStatusResponseMsg"/>
			<fault name="fault" message="tns:GetStatus_faultMsg"/>
		</operation>
		<operation name="GetData">
			<documentation>Retrieves the resulting SNP calling data</documentation>
			<sawsdl:attrExtension sawsdl:modelReference="http://wsio.org/operation_008"/>
			<input message="tns:GetDataRequestMsg"/>
			<output message="tns:GetDataResponseMsg"/>
			<fault name="fault" message="tns:GetData_faultMsg"/>
		</operation>
		<operation name="Version">
			<sawsdl:attrExtension sawsdl:modelReference="http://edamontology.org/operation_0515"/><!--"Data retrieval (tool metadata)"(0515)-->
			<input message="tns:VersionRequest">
				<documentation>A dummy input message, to avoid hitting a bug in axis2 1.5 that doesn't allow operations without input.</documentation><!--It's also that document-literal-wrapped pattern doesn't allow it because the operation is then not necessarily known from the SOAP request then-->
			</input>
			<output message="tns:VersionResponseMsg"/>
		</operation>
	</portType>
	
	
	
	<binding name="SNPServicePort" type="tns:SNPServicePortType">
		<documentation>
			SOAP binding using document-literal style
		</documentation>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="SetData">
			<soap:operation soapAction="http://esysbio.org/SNPService.wsdl/SetData"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="Init">
			<soap:operation soapAction="http://esysbio.org/SNPService.wsdl/Init"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="SetParameters">
			<soap:operation soapAction="http://esysbio.org/SNPService.wsdl/SetParameters"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="Start">
			<soap:operation soapAction="http://esysbio.org/SNPService.wsdl/Start"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="GetStatus">
			<soap:operation soapAction="http://esysbio.org/SNPService.wsdl/GetStatus"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="GetData">
			<soap:operation soapAction="http://esysbio.org/SNPService.wsdl/GetData"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</fault>
		</operation>
		<operation name="Version">
			<soap:operation soapAction="http://esysbio.org/SNPService.wsdl/Version"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	
	
	
	<service name="SNPService">
		<documentation>SNP calling service</documentation>
		<port name="SNPServicePort" binding="tns:SNPServicePort">
			<soap:address location="http://cbu.bioinfo.no/ws/SNPService"/>
		</port>
	</service>
</definitions>
